<div class="hero bg-base-200 min-h-screen">
  <div class="hero-content flex-col lg:flex-row">
    <img src="{{image?.urls?.regular}}" alt="{{image?.alt}}" class="max-w-sm rounded-lg shadow-2xl" />
    <div>
      <h1 class="text-5xl font-bold capitalize">{{image?.title}}</h1>
      <p class="pt-6 pb-1">
        ❤️ This image has <strong>{{image?.noOfLikes}}</strong> likes
      </p>
      @if(notes){
      <div class="pb-6">
        <p><strong>📝 Your Notes:</strong></p>
        <p>{{ notes }}</p>

      </div>

      }

      <button class="btn btn-primary mr-2" (click)="onToggleFavorite($event)">
        <ng-container *ngIf="isFavorite; else saveIcon">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-heartbreak-fill" viewBox="0 0 16 16">
            <path
              d="M8.931.586 7 3l1.5 4-2 3L8 15C22.534 5.396 13.757-2.21 8.931.586M7.358.77 5.5 3 7 7l-1.5 3 1.815 4.537C-6.533 4.96 2.685-2.467 7.358.77" />
          </svg>
        </ng-container>

        <ng-template #saveIcon>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart mr-2"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
          </svg>
        </ng-template>

        {{ isFavorite ? 'Remove' : 'Save' }}
      </button>

      <button class="btn btn-secondary" (click)="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
          viewBox="0 0 16 16">
          <path fill-rule="evenodd"
            d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
        </svg>
        Back to Homepage
      </button>
    </div>
  </div>
</div>

<!-- Toast -->
<toast [toasts]="toast" />